html, body, .terminal {
    height: 100%;
}

body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.42857143;
    color: white;
    background-color: #000;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
body.sl {
    pointer-events: none;
}
body.sl .terminal {
    display: none;
}

.terminal {
    width: 100%;
    -webkit-transition: width 500ms, height 500ms, -webkit-transform 500ms;
    transition: width 500ms, height 500ms, transform 500ms;
}

main.terminal {
    font-size: 18px;
    padding: 3rem;
    white-space: pre-line;
}

.terminal, .terminal input {
    text-shadow: 0.125rem 0 0.06rem #ea36af33, -0.125rem 0 0.06rem #75fa6938;
    letter-spacing: 1px;
}

.terminal .terminal-type > span {
    padding-right: 10pt;
}

.terminal .ls-item {
    margin-right: 10pt;
}

.terminal .ls-dir.ls-item {
    color: #227dff;
}

@media (max-width: 768px) {
    main.terminal {
        font-size: 14px;
        padding: 0.5rem;
    }
}

#sl {
    display: flex;
    align-self: end;
    animation: choo-choo 10s linear;
    animation-fill-mode: forwards;
}

@keyframes choo-choo {
    0% {
        transform: translateX(110%);
    }
    100% {
        transform: translateX(-210%);
    }
}