body
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif
  font-size: 15px
  line-height: 1.42857143
  color: white
  background-color: #000
  margin: 0
  overflow-x: hidden
  display: flex
  justify-content: center
  flex-direction: column
  &.x
    background-color: #18564b
    color: #000
    -webkit-transition: background-color 500ms linear
    -ms-transition: background-color 500ms linear
    transition: background-color 500ms linear

.logo, .bg
  display: none
  pointer-events: none

.terminal, .container
  width: 100%
  -webkit-transition: width 500ms, height 500ms, -webkit-transform 500ms
  transition: width 500ms, height 500ms, transform 500ms

.terminal
  height: 93vh

.content
  height: 0
  display: none
  padding: 2rem 4rem 4rem 4rem

h1
  text-align: right
  margin-bottom: 4rem

/*.x for the "X session" running

body.x >
  .container
    align-self: center
    margin-top: 4rem
    width: 992px
    max-width: 992px
    box-shadow: 0px 3px 47px 0px #00000045
    >
      .content
        height: auto
        display: block
        position: relative
        background-color: white
        padding-bottom: 8rem
        &.c
          min-height: 13rem
      .terminal
        height: 200px
        width: auto
        z-index: 2
  .bg
    position: absolute
    display: block
    transform: translate(0, -125px)
    animation: appear 200ms linear forwards
    top: 0
    left: 0
    width: 100%
    z-index: -1
  .logo
    margin-top: 3rem
    width: 140px
    display: block
    align-self: center

.content.c >
  h1, p
    float: right
    padding-left: 69%
    text-align: right

p.more
  position: absolute
  padding-bottom: 1rem
  border-bottom: 1px grey solid
  top: 175px
  left: 0
  width: 300px
  display: none

.is
  top: -45px
  position: absolute
  display: flex
  flex-direction: row
  justify-content: flex-start

.i
  width: 4.5rem
  margin-right: 4rem
  transition: all 150ms ease-in-out
  &:hover
    -moz-transform: translate(0, 25px)
    -webkit-transform: translate(0, 25px)
    transform: translate(0, 25px)
    > p.more
      display: block


/* animate logo that actually looks different without the animation

#letters
  opacity: 1
  animation: fade 500ms linear forwards

@keyframes fade
  to
    opacity: 0

@keyframes appear
  to
    transform: translate(0, 0)

/* still waiting for Firefox to implement scrollbar styling 20 years after it has been introduced

\::-webkit-scrollbar
  width: 10px

\::-webkit-scrollbar-track
  background: transparent

\::-webkit-scrollbar-thumb
  background: #545454
  &:hover
    background: #717171

@media only screen and (max-width: 992px)
  body.x > .container
    width: 100%
    max-width: auto
    > .content.c
      min-height: 700px
      padding: 2rem
      display: flex
      flex-direction: column
  .is
    top: 0
    position: relative
    flex-direction: column
    order: 1
  .i:hover
    -moz-transform: translate(25px, 0)
    -webkit-transform: translate(25px, 0)
    transform: translate(25px, 0)
  p.more
    position: relative
    padding-bottom: 1rem
    top: 0
    left: 0
    display: block
  .i
    margin-bottom: 1.5rem
  .content.c >
    h1
      margin-bottom: 1rem
    p
      margin-bottom: 3rem
    h1, p
      padding-left: 20%